body {
    width: 100%; /* 화면에 맞게 컨테이너 크기를 설정 */
    overflow-x: auto; /* 좌우 스크롤 활성화 */
}
table { width: 100%; border-collapse: collapse; }
th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
th { background-color: #f2f2f2; }
button { margin: 5px; }
/* 액션 셀 내부 버튼 가로 배열을 위한 스타일 */
.actions-cell {
    display: flex;            /* Flexbox 사용 */
    gap: 5px;                 /* 버튼 간의 간격 */
    align-items: center;      /* 버튼 수직 중앙 정렬 */
    justify-content: center;  /* 버튼을 가로로 가운데 정렬 */
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 50px;
}
.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.cover-list {
    margin-bottom: 15px;
}
.cover-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
#pageInput {
    width: 30px;
}
#pageInput::-webkit-inner-spin-button,
#pageInput::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#filterInput{
    width: 255px;
}